#body-container {
	display: flex;
	transition: 0.8s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}

fieldset button {
	width: var(--sidebar-width);
	border: 1px solid var(--tab-button-active-color);
	background-color: var(--tab-button-hover-color);
	color: var(--body-font-color);
	text-align: center;
	padding: 3px 0px;
	margin: 5px 0px;
}

fieldset button:hover {
	cursor: pointer;
	background-color: var(--main-background-color);
}

fieldset button:focus {
	outline: 1px solid var(--tab-button-hover-color);
}

fieldset input {
	margin: 5px 0px;
}

fieldset label {
	font-size: 14px;
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.center-form {
	color: #eee;
	display: flex;
	height: 100%;
	margin: 0;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.channel-button:after {
	content: '';
	padding: 5px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

#title {
	color: var(--body-font-color);
	margin: 0px;
}
/* 
#red-button:after {
    content: "";
    background-color: red;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

#blue-button:after {
    content: "";
    background-color: blue;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

#green-button:after {
    content: "";
    background-color: green;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.red-channel {
    border-left: 2px solid red !important;
}

.blue-channel {
    border-left: 2px solid blue !important;
}

.green-channel {
    border-left: 2px solid green !important;
} */
