* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

body {
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  line-height: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}

.selected {
    font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#cell-container {
    display: none;
}

#cell-changes-container {
    white-space: pre-line;
}

#broadcast-container {
  display: none;
}

#error {
  color: red;
}