<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FDC3 Monitor</title>
		<script src="../js/fdc3monitor.bundle.js"></script>
		<link rel="stylesheet" href="./app.css" />
	</head>

	<body>
		<main class="container">
			<h1>Monitor FDC3 Messages</h1>
			<hr />
			<p>When the Excel integration broadcasts an FDC3 Instrument, this view should see the change.</p>

			<div class="row">
				<div>Received Instrument</div>
				<div id="received-instrument"></div>
			</div>
		</main>
	</body>
</html>
