<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Prime Number Calculator</title>
  <script type="module" src="./cpu-hog-view.js"></script>
  <link rel="stylesheet" href="./cpu-hog-view.css" />
</head>

<body>
  <div>
    <h4>Prime Number Calculator:</h4>
    <label for="prime-number-input">Type in a number and I'll tell you if its a prime number:</label>
    <input id="prime-number-input" type="number" value="2147483647"></input>
    <button id="prime-number-submit-button">Calculate</button>
  </div>
  <h1 id="result"></h1>
</body>

</html>