#body-container {
	display: flex;
	transition: 0.8s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 96%;
	width: 100%;
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#title {
	color: var(--body-font-color);
	margin: 0px;
}

/* Print button styling */
#print-button {
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSI2IiB5PSI4IiB3aWR0aD0iMjAiIGhlaWdodD0iMTYiIHJ4PSIxIiBzdHJva2U9IiNGMkY0RjkiIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsPSJub25lIi8+PHJlY3QgeD0iNiIgeT0iMTIiIHdpZHRoPSIyMCIgaGVpZ2h0PSIxMiIgZmlsbD0iI0YyRjRGOSIgb3BhY2l0eT0iMC4yIi8+PGxpbmUgeDE9IjEwIiB5MT0iMTgiIHgyPSIyMiIgeTI9IjE4IiBzdHJva2U9IiNGMkY0RjkiIHN0cm9rZS13aWR0aD0iMS41Ii8+PGxpbmUgeDE9IjEwIiB5MT0iMjIiIHgyPSIxOCIgeTI9IjIyIiBzdHJva2U9IiNGMkY0RjkiIHN0cm9rZS13aWR0aD0iMS41Ii8+PHJlY3QgeD0iMTIiIHk9IjQiIHdpZHRoPSI4IiBoZWlnaHQ9IjQiIHJ4PSIwLjUiIGZpbGw9IiNGMkY0RjkiLz48L3N2Zz4=');
	background-size: 18px 18px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	transition: opacity 0.2s;
}

#print-button:hover {
	opacity: 1;
}
